<footer>&copy; Sudhish Meenakshisundaram 2020</footer>
</div>

<div class="col-lg-1 col-md-1 col-sm-0">

</div>



</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="jsfiles/effects.js" charset="utf-8"></script>
</html>
