
<%- include('header') -%>

<div class="jumbotron">
  <h1 class="display-4">Try Again!</h1>
  <p class="lead">The city you have entered does not exist in our database.</p>
  <hr class="my-4">
  <p>Click below to be redirected to the main page. Thank you!</p>
  <form action="/" method="post">
    <button class="btn btn-primary" type="submit" name="button" value="Redirect">Redirect</button>
  </form>

</div>

<%- include('footer') -%>
